langchain 
langgraph
langchain-community
langchain_groq
langchain_google_genai
numpy
pandas
fastapi
supabase
uvicorn
pydantic
pydantic[email]
langchain_huggingface
passlib[bcrypt]
python-multipart 
python-jose[cryptography]
torch
--extra-index-url https://download.pytorch.org/whl/cpu
